/*Declare Variables*/
:root {
--dust: #ddd4b5;
--wine: #ad6253;
--offwhite: #ffffff;
--dark-wine: #6c2617;
--dark-dust: #bbaf85;
--smoke: rgba(0,0,0,.7);
--haze: rgba(0,0,0,.3);
--subtlewhite: rgba(255,255,255,.5);
--mutedwhite: rgba(255,255,255,.3);
--artfont: 'Balthazar', 'Helvetica', sans-serif;
--readfont: 'Lato', 'Arial', sans-serif;
}

/*End Variables*/

/*Styling*/
html {
	padding: 0;
	font-family: 'Lato', 'Arial', sans-serif;
}
* {
	box-sizing: border-box;
}

body {
	background-color: #ddd4b5;
	margin: 0;
}

body p {
	font-size: 20px;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

.nowrap {
	white-space: nowrap;
}
.centered {
	text-align: center;
}

.artfont {
	font-family: 'Balthazar', 'Helvetica', sans-serif;
}

/*_______________________________________Flex Layout */

/*
xxs: below 450;
xs: 450;
s: 576;
m: 768;
lg: 992;
xl: 1200;
xxl: 1600;
*/
.inline-flex {
	display: inline-flex;
}

.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.container .flex {
	justify-content: center;
}
.layout-container {
	width: 100%;
	margin: 0;
	padding: 20px;
	display: flex;
	justify-content: center;
}
.layout-row {
	display: flex;
	flex-wrap: wrap;
	width: 85%;
}
.layout-row > div {
	padding: 20px;
}
.center-hor {
	display: flex;
	justify-content: center;
}

.center-vert {
	display: flex;
	align-items: center;
}

.grow0 {
	flex-grow: 0;
}
.grow1 {
	flex-grow: 1;
}
.grow2 {
	flex-grow: 2;
}
.grow3 {
	flex-grow: 3;
}
.shrink0{
	flex-shrink: 0;
}
.shrink1{
	flex-shrink: 1;
}
.shrink2{
	flex-shrink: 2;
}
.shrink3{
	flex-shrink: 3;
}
.col12 {
	flex-basis: 12.5%;
}
.col17 {
	flex-basis: 16.6667%;
}
.col20 {
	flex-basis: 20%;
}
.col25 {
	flex-basis: 25%;
}
.col30 {
	flex-basis: 30%;
}
.col33 {
	flex-basis: 33.3333%;
}
.col40 {
	flex-basis: 40%;
}
.col50 {
	flex-basis: 50%;
}
.col60 {
	flex-basis: 60%;
}
.col67 {
	flex-basis: 66.6666%;
}
.col70 {
	flex-basis: 70%;
}
.col75 {
	flex-basis: 75%;
}
.col80 {
	flex-basis: 80%;
}
.col83 {
	flex-basis: 83.3333%;
}
.col88 {
	flex-basis: 87.5%;
}

.layout-grid {
	display: grid;
	width: 85%;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 20px;
	grid-auto-rows: 150px;
	grid-auto-flow: dense;
}

@media all and (max-width: 1599px){
	.layout-row {
		width: 100%;
	}
	.layout-grid {
		width: 100%;
	}

}

@media all and (max-width: 1199px){
	.lgfull {
		flex-basis: 100%;
	}
	.lghalf {
		flex-basis: 50%;
	}
	.lgthird {
		flex-basis: 33.333%;
	}
	.lgfourth {
		flex-basis: 25%;
	}
	.lg-3 {
		order: -3;
	}
	.lg-2 {
		order: -2;
	}
	.lg-1 {
		order: -1;
	}
	.lg-0 {
		order: 0;
	}
	.lg1 {
		order: 1;
	}
	.lg2 {
		order: 2;
	}
	.lg3 {
		order: 3;
	}
}

@media all and (max-width: 991px){
	.mdfull {
		flex-basis: 100%;
	}
	.mdhalf {
		flex-basis: 50%;
	}
	.mdthird {
		flex-basis: 33.333%;
	}
	.mdfourth {
		flex-basis: 25%;
	}
	.md-3 {
		order: -3;
	}
	.md-2 {
		order: -2;
	}
	.md-1 {
		order: -1;
	}
	.md-0 {
		order: 0;
	}
	.md1 {
		order: 1;
	}
	.md2 {
		order: 2;
	}
	.md3 {
		order: 3;
	}
	.layout-grid {
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-rows: 100px;
	}

}

@media all and (max-width: 767px){
	.smfull {
		flex-basis: 100%;
	}
	.smhalf {
		flex-basis: 50%;
	}
	.smthird {
		flex-basis: 33.333%;
	}
	.smfourth {
		flex-basis: 25%;
	}
	.sm-3 {
		order: -3;
	}
	.sm-2 {
		order: -2;
	}
	.sm-1 {
		order: -1;
	}
	.sm-0 {
		order: 0;
	}
	.sm1 {
		order: 1;
	}
	.sm2 {
		order: 2;
	}
	.sm3 {
		order: 3;
	}

}

@media all and (max-width: 567px){
	.xsfull {
		flex-basis: 100%;
	}
	.xshalf {
		flex-basis: 100%;
	}
	.xsthird {
		flex-basis: 33.333%;
	}
	.xsfourth {
		flex-basis: 25%;
	}
	.xs-3 {
		order: -3;
	}
	.xs-2 {
		order: -2;
	}
	.xs-1 {
		order: -1;
	}
	.xs-0 {
		order: 0;
	}
	.xs1 {
		order: 1;
	}
	.xs2 {
		order: 2;
	}
	.xs3 {
		order: 3;
	}

}

@media all and (max-width: 449px){
	.xxsfull {
		flex-basis: 100%;
	}
	.xxshalf {
		flex-basis: 50%;
	}
	.xxsthird {
		flex-basis: 33.333%;
	}
	.xxs-3 {
		order: -3;
	}
	.xxs-2 {
		order: -2;
	}
	.xxs-1 {
		order: -1;
	}
	.xxs-0 {
		order: 0;
	}
	.xxs1 {
		order: 1;
	}
	.xxs2 {
		order: 2;
	}
	.xxs3 {
		order: 3;
	}
	.layout-grid {
	grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
	grid-auto-rows: 75px;
	}

}



/*------------------------------------------------Universal color schemes*/
.bg-red {
	background-color: #ad6253;
	color: #ffffff;
}

.bg-red svg.icon {
	fill: #fff;
	stroke: #fff;
}

.bg-red a {
	color: #ddd4b5;
}

.bg-tan {
	background-color: #ddd4b5;
	color: #ad6253;
}

.bg-tan svg {
	fill: #ad6253;
	stroke: #ad6253;
}

.bg-white {
	background-color: #ffffff;
}

.bg-cloth {
	background: linear-gradient(rgba(221,212,181,.7), rgba(221,212,181,.7)), url("/assets/images/roughcloth_@2X.png");
	background-repeat: repeat;
	color: #6c2617;
}

.bg-cloth svg.icon {
	fill: #6c2617;
}

.bg-burlap {
	background-image: url("/assets/images/burlap.jpg");
	background-size: cover;

}

.bg-stone {
	background-image: url("/assets/images/stone-wall-background.jpg");
	background-size: cover;
}

.bg-salineras {
	background-image: url("/assets/images/salineras-1000x1000-prog.jpg");
	background-size: cover;
}

/*testimonial cloud*/

.testimonial-outermost {
	position: relative;
	overflow: hidden;
}
.testimonial-outer {
	position: relative;
	display: inline-block;
}

.testimonial-section {
	position: relative;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	animation: marquee 45s linear infinite;
	animation-play-state: running;

}

.testimonial-section.paused {
	animation-play-state: paused;
}

@keyframes marquee {
	0% { left: 0; }
	100% { left: -50%; }
}

@-webkit-keyframes marquee {
	0% { left: 0; }
	100% { left: -50%; }
}

.testimonial-wrapper {

}

.testimonial-cloud {
	height: 360px;
	margin-bottom: 10px;
	display: grid;
	grid-auto-columns: 100px;
	grid-gap: 30px;
	grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
	grid-auto-flow: column dense;
	font-size: 10px;
	line-height: 1.5em;
}

.good .testimonial-title {
	font-size: 1em;
	text-align: center;
}
.good .testimonial-excerpt {
	font-size: .8em;
	padding-left: 1.8em;
	padding-right: 1.8em;
}
.good .testimonial-name {
	font-size: .7em;
}

.better .testimonial-title {
	font-size: 1.5em;
	text-align: center;
}
.better .testimonial-excerpt {
	font-size: 1.2em;
	padding-left: 1.7em;
	padding-right: 1.7em;
}
.better .testimonial-name {
	font-size: 1em;
}

.best .testimonial-title {
	font-size: 2em;
	text-align: center;
}
.best .testimonial-excerpt {
	font-size: 1.6em;
	padding-left: 2em;
	padding-right: 2em;
}
.best .testimonial-name {
	font-size: 1.3em;
}

.quotes .open, .quotes .close {
	position: absolute;
}

.good .open {
	width: .8em;
	top: 0;
	left: .2em;
}

.good .close {
	width: 1em;
	bottom: 0;
	right: .2em;
}

.better .open {
	width: 1.2em;
	top: 0;
	left: .6em;
}

.better .close {
	width: 1.2em;
	bottom: 0;
	right: .6em;
}

.best .open {
	width: 1.6em;
	top: 0;
	left: 1.2em;
}

.best .close {
	width: 1.6em;
	bottom: 0;
	right: 1.2em;
}

.good.short, .good.medium {
	grid-column: span 2;
}

.better.short {
	grid-column: span 2;
}

.best.short, .good.long, .better.medium {
	grid-column: span 3;
}

.good.reallong, .better.long {
	grid-column: span 2;
	grid-row: span 2;
}

.best.long, .better.reallong, .best.medium{
	grid-column: span 3;
	grid-row: span 2;
}

.best.reallong {
	grid-column: span 3;
	grid-row: span 3;
}

.testimonial {
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonial p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.testimonial-name {
	text-align: right;
	padding-right: 15%;
}

.testimonial-title {
	font-weight: bolder;
	font-size: 1.5rem;
}

.quotes {
	position: relative;
}

.bg-red .quotes svg {
	fill: #ffffff;
}

.bg-tan .quotes svg {
	fill: #ad6253;
}
.bg-cloth .quotes svg {
	fill: #6c2617;
}

.testimonial-blurb {
	align-items: center;
	justify-content: center;
	position: absolute;
	display: inline-flex;
	max-width: 80%;
	padding: 2% 5%;
	margin: auto;
	top: 30%;
	left: 0;
	right: 0;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 2px #444444;
}

.testimonial-blurb h2 {
	font-size: 5.3vw;
}

#product-container {
	position: absolute;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-image: linear-gradient(to right, rgba(173,98,83,1), rgba(173,98,83,0));
	display: block;
	margin-right: auto;
	top: 0;
}

#statement {
	height: 400px;
	position: relative;
}

/*Header Menu*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.headermenu {
	background-color: #ad6253;
	margin: 0;
}

.menulogo img {
	height: 80px;
}

img.menupic {
	height:80px;
}


ul.menuleft, ul.menuright, .iconmenu ul {
	margin: 0px;
	padding: 0px;
	position: relative;
}

li.menuleft {
	flex: 1;
	flex-wrap: nowrap;
	display: inline-flex;
	align-items: center;
	height: 100%;

}

li.menuright {
	flex: 1;
	display: inline-flex;
	align-items: center;
	height: 100%;
}

li.menuleft.menulogo {
	margin: 0px;
}



li.menuleft:hover, li.menuright:hover {
	background-color: #6c2617;
}

li.menuright a {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	padding: 0px 20px;
}

li.menuleft a.toplevel {
	padding: 0px 20px;
	display: flex;
	align-items: center;
}


.headermenu a {
	color: #ffffff;

}

a.toplevel {
	text-align: center;
	height: 100%;
	width: 100%;
}

/*Dropdown Menu_________________________________________________________*/

.dropbtn {

    text-align: center;
    text-decoration: none;
    align-items: center;
 }

 .dropbtn img {
 	height: 20px;
 	margin: 0px 5px;
 }

.dropdown:hover {
	background-color: #6c2617;
}

li.dropdown {
	display: list-item;
	text-align: center;
	align-items: center;
	position: relative;
}

li.menuleft.dropdown {
	padding: 0px 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #ddd4b5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}


.dropdown-content a {
    color: #ad6253;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #ad6253;
	color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Finish Dropdown Menu______________________________________________________*/

/*Icon Menu____________________________________________________*/
.menuicon svg, .menuicon img {
	height:40px;
	fill: #fff;
	stroke: #fff;
}

.iconmenu {
	display: none;
}


.iconmenu li:hover {
	background-color: #6c2617;
}

.iconmenu li {
	flex: 1;
	padding:3px 0px;
}

.iconmenu ul {
	justify-content: space-between;
}

.icontext p {
	padding: 3px 0px;
	margin: 0px;
	font-size: .9em;
}

/*End Icon Menu _______________________________________________*/

/*Full Screen Menu _____________________________________________*/
.fullmenu {
	justify-content: space-around;
	align-items: center;
}

.menu-expand span {
	font-size: 40px;
	color: #ffffff;
	font-family: 'Balthazar', 'Helvetica', sans-serif;
	cursor: pointer;
}

.menulogo, .menu-expand {
	display: flex;
	align-items: center;
}

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(108,38,23, .9);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
}

.sv {
	display: flex;
}

.sv .list {

	display: inline-flex;
	flex-direction: column;
}

.sv .learn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
}

.sv p {
	transform: rotate(90deg);
		/* Safari */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* IE */
	-ms-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	color: #ffffff;
	margin: 1px;
	letter-spacing: 3px;
}

.fullmenu svg {
	height: 60px;
	fill: #fff;
	display: block;
	stroke: #fff;
}


.fullimg {
	width: 40px;
	text-align: center;
	display: inline-flex;
	align-items: center;
}

.fullimg svg {
	height: 30px;
	fill: #fff;
	stroke: #fff;
	opacity: 1;
}

.overlay a:hover .fullimg svg, .overlay a:focus .fullimg svg {
	fill: #bbaf85;
	stroke: #bbaf85;
}

.overlay-content {
    position: relative;
    padding-left: 10vw;
}

.overlay ul {
	list-style-type: none;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #bbaf85;
    fill: #bbaf85;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 10vw;
    font-size: 40px;
}

.overlay-content img {
	height: 25px;
	display: inline-block;
}

.overlay-content li {
	display: flex;
	align-items: center;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
}

/*End Full Screen Menu ____________________________________________*/

/*Full Width Slider ______________________________________________*/


#home-slider {
	margin: 0 auto;
	padding: 0px;
	width: 100%;
	position: relative;
	background-color: black;
	height: 44vw;
	overflow: hidden;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}

.fadeinout {
	display: none;
}

.slide img {
	width: 100%;
}


/*------------------------------------------------------Ken Burns Effect*/

.kenburns img.out-in {
	position: relative;
	animation: outin 8s linear alternate;
	-ms-animation:outin 8s linear alternate;
	-webkit-animation: outin 8s linear alternate;
	-o-animation:outin 8s linear alternate;
	-moz-animation:outin 8s linear alternate;
	animation-fill-mode: forwards;
}
/*--------------------------------------------------------Out-in effect*/
@-webkit-keyframes outin {
  from {
  	transform: scale(1.0);
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0); 
    -o-transform: scale(1.0); 
    -moz-transform: scale(1.0); 
  }
  to {
  	transform: scale(1.1);
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
  }
}

.kenburns img.in-out {
	position: relative;
	animation: inout 8s linear alternate;
	-ms-animation:inout 8s linear alternate;
	-webkit-animation: inout 8s linear alternate;
	-o-animation: inout 8s linear alternate;
	-moz-animation:inout 8s linear alternate;
	animation-fill-mode: forwards;
}
/*In-out effect*/

@-webkit-keyframes inout {
  from {
  	transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    -o-transform: scale(1.2); 
    -moz-transform: scale(1.2); 
  }
  to {
  	transform: scale(1.0);
    -ms-transform: scale(1.00); 
    -webkit-transform: scale(1.00); 
    -o-transform: scale(1.00); 
    -moz-transform: scale(1.00); 
  }
}

.kenburns img.in-out-short {
	position: relative;
	animation: inoutshort 4s linear alternate;
	-ms-animation:inoutshort 4s linear alternate;
	-webkit-animation: inoutshort 4s linear alternate;
	-o-animation: inoutshort 4s linear alternate;
	-moz-animation:inoutshort 4s linear alternate;
	animation-fill-mode: forwards;
}
/*In-out effect*/

@-webkit-keyframes inoutshort {
  from {
  	transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
  }
  to {
  	transform: scale(1.0);
    -ms-transform: scale(1.00); 
    -webkit-transform: scale(1.00); 
    -o-transform: scale(1.00); 
    -moz-transform: scale(1.00); 
  }
}

.kenburns img.right-left {
	position: relative;
	animation: rightleft 8s linear alternate;
	-ms-animation:rightleft 8s linear alternate;
	-webkit-animation: rightleft 8s linear alternate;
	-o-animation: rightleft 8s linear alternate;
	-moz-animation: rightleft 8s linear alternate;
	animation-fill-mode: forwards;
}
/*In-out effect*/

@-webkit-keyframes rightleft {
  from {
  	transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    left: 0; 

  }
  to {
  	transform: scale(1.2);
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    -o-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    left: -10%; 
  }
}

.kenburns img.left-right {
	position: relative;
	animation: leftright 8s linear alternate;
	-ms-animation: leftright 8s linear alternate;
	-webkit-animation: leftright 8s linear alternate;
	-o-animation: leftright 8s linear alternate;
	-moz-animation: leftright 8s linear alternate;
	animation-fill-mode: forwards;
}
/*In-out effect*/

@-webkit-keyframes leftright {
  from {
  	transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    left: 0; 

  }
  to {
  	transform: scale(1.2);
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    -o-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    left: 10%; 
  }
}
/* Navigation arrows */

#prev, #next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -5vw;
	padding: 1.5vw;
	color: rgba(255,255,255,.5);
	font-weight: bold;
	font-size: 5vw;
	transition: 0.6s ease;
}

#next {
	right: 0;
	border-radius: 5px 0 0 5px;
	z-index: 4;
	opacity: 1;
}

#prev {
	border-radius: 0px 5px 5px 0px;
	z-index: 4;
	opacity: 1;
}

#prev:hover, #next:hover {
	background-color: rgba(0,0,0,.4);
}

/* Caption text */

.caption {	
	position: absolute;
	bottom: 15%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Balthazar', 'Helvetica', sans-serif;
}

#play {
	position: absolute;
	left: 50%;
	margin-left: -12.5vw;
	height: 100%;
	width: 25vw;
	z-index: 4;
	display: none;
}

#play svg {
	position: relative;
	width: 100%;
	opacity: .4;
	top: 8%;
}

.caption span {
	color: white;
	font-size: 3vw;
	padding: 1vw 2vw;
	background-color: rgba(0,0,0,.6);
	border-radius: 3vw
}

#slide-indicators {
	text-align: center;
	position: absolute;
	bottom: 1vw;
	width:100%;
	z-index: 4;
	opacity: 1;
}

.indicator {
	cursor: pointer;
	height: .5vw;
	width: 3vw;
	margin: 0 2px;
	display: inline-block;
	background-color: rgba(255,255,255,.5);
	transition: background-color 0.6s ease;
}

.active, .indicator:hover {
	background-color: white;
}


.showing {
	opacity: 1;
	z-index: 2;
}


.slider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3; 
	opacity: 0;
	background-color: black;
}

.fadeout .slider-overlay {

	animation: fade-in-out 8s linear alternate;
	-ms-animation:move 8s linear alternate;
	-webkit-animation: fade-in-out 8s linear alternate;
	-o-animation: fade-in-out 8s alternate;
	-moz-animation:fade-in-out 8s linear alternate;
	animation-fill-mode: forwards;

}

@-webkit-keyframes fade-in-out {
  0% { opacity: .6; }
  33% { opacity: 0; }
  66% { opacity: 0; }
  100% { opacity: .6; }

}

@keyframes fade-in-out {
  0% { opacity: .6; }
  33% { opacity: 0; }
  66% { opacity: 0; }
  100% { opacity: .6; }
}

/*----------------------------------------------------Product Slider-----*/

#product-slider {
	display: flex;
}
#slider-images {
	width: 100%;
	height: 260px;
}

#slider-thumbnails {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 60px;
}

#slider-thumbnails > div {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	height: 60px;
}

#slider-thumbnails > div:hover {
	background-color: #6c2617;
}

#slider-thumbnails > div.highlighted {
	background-color: #6c2617;
}

#slider-product-image {
	position: relative;
	height: 100%;
	flex-grow: 1;
	display: block;
	overflow: hidden;
}

#slider-product-info {
	width: 100%;
	height: 110px;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
}

#slider-product-info > div {
	width: 100%;
	display: none;
	position: absolute;
}

#slider-product-info > div.info-center {
	left: 0;
	display: block;
	animation: slidein .7s ease-in;
	-ms-animation: slidein .7s ease-in;
	-webkit-animation: slidein .7s ease-in;
	-o-animation: slidein .7s ease-in;
	-moz-animation: slidein .7s ease-in;
}

@keyframes slidein {
	0% { left: -100%; }
	100% { left: 0; }
} 

@-webkit-keyframes slidein {
	0% { left: -100%; }
	100% { left: 0; }
}


#slider-product-info > div.info-right {
	left: 100%;
	display: block;
	animation: slideout .7s ease-in;
	-ms-animation: slideout .7s ease-in;
	-webkit-animation: slideout .7s ease-in;
	-o-animation: slideout .7s ease-in;
	-moz-animation: slideout .7s ease-in;
}

@keyframes slideout {
	0% { left: 0; }
	100% { left: 100%; }
}

@-webkit-keyframes slideout {
	0% { left: 0; }
	100% { left: 100%; }
}

#image-group {
	height: 100%;
	width: 100%;
	position: absolute;
	
}

.indiv-img {
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
}

.indiv-img.middle {
	top: 0;
	display: flex;
}

.indiv-img.bottom {
	top: 100%;
	display: flex;
}

#slider-product-info a {
	color: #fff;
}

#slider-product-info h2 {
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
}
#slider-product-info h3 {
	text-align: center;
	width: 100%;
	margin-top: 5px;
}
#slider-product-image img {
	object-fit: cover;
	max-height: 100%;
	max-width: 100%;
}
#slider-thumbnails img {
	width: 50px;
}

.indiv-img.middle {
	animation: dropin .7s ease-in;
	-ms-animation: dropin .7s ease-in;
	-webkit-animation: dropin .7s ease-in;
	-o-animation: dropin .7s ease-in;
	-moz-animation: dropin .7s ease-in;
}

@keyframes dropin {
	0% { top: -100%; }
	100% { top: 0; }
} 

@-webkit-keyframes dropin {
	0% { top: -100%; }
	100% { top: 0; }
}

.indiv-img.bottom {
	animation: dropout .6s ease-in;
	-ms-animation: dropout .6s ease-in;
	-webkit-animation: dropout .6s ease-in;
	-o-animation: dropout .6s ease-in;
	-moz-animation: dropout .6s ease-in;
}

@keyframes dropout {
	0% { top: 0; }
	100% { top: 100%; }
}

@-webkit-keyframes dropout {
	0% { top: 0; }
	100% { top: 100%; }
}

/*Element Styling---------------------------------------------------------*/
#features {
	justify-content: space-around;
}

#features svg {
	width: 50px;
	min-width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 20px;
}

#features svg:hover {
	width: 55px;
	min-width: 55px;
	height: 55px;
	fill: #ddd4b5;
}

#features a {
	display: flex;
	align-items: center;
	color: #fff;
	min-width: 240px;
	margin-top: 25px;
	margin-bottom: 25fpx;
}

#features a:hover {
	color: #ddd4b5;
}

#features h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

#main-blurb {
	position: relative;
}

#middle-down-arrow {
	text-align: center;
	position: relative;
	bottom: -10%;
	display: none;
	padding: 10px;
}

#middle-down-arrow svg {
	padding-top: 10px;
}

#middle-down-arrow path {
	animation: thickthin 1s ease-in-out infinite alternate;
	-ms-animation: thickthin 1s ease-in-out infinite alternate;
	-webkit-animation: thickthin 1s ease-in-out infinite alternate;
	-o-animation: thickthin 1s ease-in-out infinite alternate;
	-moz-animation: thickthin 1s ease-in-out infinite alternate;
}

@keyframes thickthin {
	0% { stroke-width: 1px; }
	100% { stroke-width: 10px; }
}

@-webkit-keyframes thickthin {
	0% { stroke-width: 1px; }
	100% { stroke-width: 10px; }
}

.layout-grid.home-grid a, .layout-grid.home-grid > div {
	border-style: solid;
	border-width: 5px;
	/*border-color: rgba(13,82,77,1);*/
	border-color: #fff;
}

.layout-grid.home-grid a:hover {
	border-width: 10px;
	border-color: #6c2617;
}

#fair-trade {
	grid-row: span 3;
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #ddd4b5;
}

#fair-trade img {
	max-height: 60%;
	max-width: 100%;
	display: block;
}


#fair-trade h2, #fair-trade h3 {
	color: #6c2617;
	font-family: 'Balthazar', 'Helvetica', sans-serif;
}

#journey {
	grid-row: span 2;
	grid-column: span 3;
	background-image: url("../assets/images/sacred-valley-journey-600x400.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
/*	border-color: #bbaf85;*/
	text-align: center;
	position: relative;
}

#journey h2 {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-size: 36px;
	line-height: 1.5;
	padding: 0px 24px;
	background-color: rgba(0,0,0,.3);
	border-radius: 27px;
	font-family: 'Balthazar', 'Helvetica', sans-serif;

}

#journey > p {
	display: inline-block;
	position:absolute;
	left: 3%;
	top: 35%;
	background-color: rgba(255,255,255,.7);
	color: #6c2617;
	line-height: 1.5;
	font-size: 20px;
	padding: 0px 15px;
	border-radius: 15px;
	font-weight: bold;
}

#journey div {
	height: 60%;
	width: auto;
	position: absolute;
	bottom: 0;
	right: 3%;
}

#journey div p {
	display: inline-block;
	position:absolute;
	right: 0;
	top: 30%;
	background-color: rgba(255,255,255,.7);
	color: #6c2617;
	line-height: 1.5;
	font-size: 20px;
	padding: 0px 15px;
	border-radius: 15px;
	font-weight: bold;
	margin: 0;
}

#journey img {
	height: 100%;
}

#good-salt {
	grid-row: span 2;
	grid-column: span 2;
	background-image: url("../assets/images/salt-bowl-bg-300x300.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
/*	border-color: rgba(75,94,92,1);*/
	text-align: center;
}

#good-salt h2 {
	display: inline-block;
	margin-top: 15%;
	background-color: rgba(255,255,255,.7);
	font-size: 24px;
	line-height: 1.5;
	padding: 0px 18px;
	border-radius: 18px;
	color: #6c2617;
	font-family: 'Balthazar', 'Helvetica', sans-serif;
}

#no-hype {
	grid-row: span 2;
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #ddd4b5;
}

#no-hype img {
	max-height: 60%;
	display: block;
}

#no-hype h2, #no-hype h3 {
	color: #6c2617;
	font-family: 'Balthazar', 'Helvetica', sans-serif;
	margin: 0;
}

#condor {
	grid-row: span 2;
	grid-column: span 1;
	background-image: url("../assets/images/condor-vertical-400x800.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#condor h2 {
	color: #ffffff;
	font-family: 'Balthazar', 'Helvetica', sans-serif;
	margin: 10px 0px;
	font-size: 1.2em;
}

#partners {
	grid-row: span 1;
	grid-column: span 2;
	background-color: #ddd4b5;
}

#partners > div {
	width: 100%;
	height:100%;
	position: relative;
	text-align: center;
}

#partners img {
	max-height: 100%;
	max-width: 100%;
}

.partner-caption {
	width: 100%;
	position: absolute;
	bottom: 10%;
}

#partners h3 {
	display: block;
	margin: auto;
	text-align: center;
	line-height: 1.5;
	background-color: rgba(255,255,255,1);
	color: #6c2617;
	font-size: 1em;
}

#people {
	grid-row: span 3;
	grid-column: span 2;
	background-color: #ddd4b5;
}

#people h2, #people h3 {
	color: #6c2617;
	font-family: 'Balthazar', 'Helvetica', sans-serif;
	text-align: center;
	margin: 0;
}

#people > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	max-width: 100%;
	height: 100%;
	text-align: center;
}

#people > div > div:first-child {
	grid-row: span 1;
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#people .portrait {
	grid-row: span 1;
	grid-column: span 1;

}

#people img {
	max-width: 90%;
	height: auto;
	border-radius: 50%;
}

#home-blog {
	grid-row: span 2;
	grid-column: span 2;
}

#photo-blog-slider, #blog-slider {
	width: 100%;
	height: 100%;
	position: relative;
}

#photo-blog-slider h2, #blog-slider h2 {
	position: absolute;
	top: 1%;
	width: 100%;
	text-align: center;
	margin: 0;
	z-index: 1;
}

#photo-blog-slider h2 span, #blog-slider h2 span {
	color: #6c2617;
	background-color: #ddd4b5;
	padding: .15em .4em;
	border-radius: .65em;
	font-family: 'Balthazar', 'Helvetica', sans-serif;
	font-size: 1em;
}

#photo-blog-slider > div, #blog-slider > div {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#blog-slider > div:nth-of-type(1) {
	background-image: url("../assets/images/salt-structure-300x300.png");
}

#blog-slider > div:nth-of-type(2) {
	background-image: url("../assets/images/woman-with-llamas-300x300.jpg");
}

#blog-slider > div:nth-of-type(3) {
	background-image: url("../assets/images/salt-traders-300x300.jpg");
}

#blog-slider > div:nth-of-type(4) {
	background-image: url("../assets/images/dos-ninos-300x300.jpg");
}

#blog-slider > div:nth-of-type(5) {
	background-image: url("../assets/images/battle-of-maule-300x300.jpg");
}

#blog-slider > div:nth-of-type(6) {
	background-image: url("../assets/images/simplest-recipe-300x300.jpg");
}

.blogslide {
	display: none;
	height: 100%;
	position: relative;
}

.blogslide.turn {
	display: block;
}

.blogslide h3 {
	width: 100%;
	position: absolute;
	bottom: 3%;
	text-align: center;
	margin: 0;
}

.blogslide h3 span {
	padding: .15em .4em;
	color: #6c2617;
	background-color: #ddd4b5;
	text-align: center;
	border-radius: .7em;
	font-size: .8em;
	font-weight: 300;
	white-space: nowrap;
}
#home-photo-blog {
	grid-column: span 2;
	grid-row: span 2;

}

.stone-square {
	grid-column: span 1;
	grid-row: span 1;
	background-image: url("../assets/images/stone-square.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.stone-vertical {
	grid-column: span 1;
	grid-row: span 2;
	background-image: url("../assets/images/stone-vertical.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.stone-horizontal {
	grid-column: span 2;
	grid-row: span 1;
	background-image: url("../assets/images/stone-horizontal.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
/*Media Queries*/

@media (max-width: 575px) {

    .mobile a.a-active::after {
		content: "  \25CF";
	}
}

@media (min-width: 576px) {
	.iconmenu {
		display: block;
	}

	.fullmenu {
		display: none;
	}

	.liactive {
	background-color: #6c2617;
	}

	.testimonial-blurb {
	max-width: 70%;
	}

	.testimonial-blurb h2 {
		font-size: 4.6vw;
	}
	#condor h2 {
		font-size: 1.5;
	}
	#partners h3 {
		font-size: inherit;
	}

}

@media (min-width: 768px) {
	.menuicon svg, .menuicon img {
		height:60px;
		fill: #fff;
		stroke: #fff;
	}

	.testimonial-outermost {
		height: 540px;
	}

	.testimonial-cloud {
		height: 520px;
		grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
		font-size: 12px;
	}
	.testimonial-blurb {
		max-width: 60%;
	}
	.testimonial-blurb h2 {
		font-size: 3.7vw;
	}
	#slider-thumbnails {
		width: 80px;
	}
	
	#slider-thumbnails > div {
		height: 80px;
	}
	#slider-images {
		height: 360px;
	}
	#good-salt h2 {
		font-size: 36px;
		line-height: 1.5;
		padding: 0px 27px;
		border-radius: 27px;
	}
	#product-container {
		width: 60%;
	}

}

@media (min-width: 992px) {
	.menuicon svg, .menuicon img {
		height: 60px;
		fill: #fff;
		stroke: #fff;
	}
	.testimonial-blurb {
		max-width: 45%;
	}
	.testimonial-blurb h2 {
		font-size: 3vw;
	}
	#fair-trade h2, #fair-trade h3 {
		font-size: 200%;
	}
	.layout-grid {
		grid-gap: 60px;
	}
	.blogslide h3 {
		bottom: 5%;
	}
	.blogslide h3 span {
		padding: .5em .8em;
		border-radius: 1.5em;
		font-size: 1.1em;
	}
	#photo-blog-slider h2, #blog-slider h2 {
		top: 5%;
	}
	#photo-blog-slider h2, #blog-slider h2 span {
		padding: .3em .8em;
		border-radius: .9em;
		font-size: 1.2em;
	}
	#product-container {
		width: 50%;
		background-image: linear-gradient(to right, rgba(173,98,83,1), rgba(173,98,83,1), rgba(173,98,83,0));

	}
	#slider-images {
		height: 400px;
	}
}

@media (min-width: 1200px) {
	.iconmenu ul {
		justify-content: flex-start;
}
	.iconmenu li {
		flex-grow: 0;
		padding:3px 20px;
}
	#menu-salt {
		margin-left: auto;
		padding-left: 50px;
		padding-right: 50px;
	}
	#menu-salt p {
		font-weight: bolder;
	}
	#middle-down-arrow {
		display: block;
	}
	#product-container {
		width: 40%;
	}
}

@media (min-width: 1600px) {

	.testimonial-outermost {
		height: 520px;
	}

	.testimonial-cloud {
		height: 500px;
		grid-template-rows: repeat(auto-fit, minmax(90px, 1fr));
		font-size: 14px;

	}
	#product-container {
		width: 30%;
	}

}





